@model List<ResultSubHeaderDto>

@foreach (var item in Model)
{


    <div class="sub-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <ul class="info">
                        <li><i class="fa fa-envelope"></i> @item.Email</li>
                        <li><i class="fa fa-map"></i> @item.Address</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4">
                    <ul class="social-links">
                        <li><a href="@item.Facebook" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="@item.Twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="@item.Linkedin" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="@item.Instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

}